*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

body #cdawrap {
    --cda-right: 2rem;
    --cda-top: 2rem;
}

html {
    width: 100%;
    height: 100%;
    
    background: #202050; /* Old browsers */
    background: -moz-linear-gradient(top,  #202050 0%, #002000 50%, #502020 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #202050 0%, #000000 50%,#502020 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #202050 0%, #002000 80%, #502020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202050', endColorstr='#502020',GradientType=0 ); /* IE6-9 */
  }
  

body {
    --color-text: #ffffff;
    --color-bg: #111111;
    --color-link: #66ff00;
    --color-link-hover: #fff;
    --color-info: #ffffff;
    color: var(--color-text);
    /* background-color: var(--color-bg); */
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.hidden {
    display: none;
}

/* Page Loader */
.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--color-bg); */
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

#blocker { 
    opacity: 1;
    z-index: 10;
	position: fixed; 
	
	width: 100%;
	
	padding: 5%;

	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);

	background-color: rgba(0, 0, 0, 0.9);

	text-align: center;

	color: white;
    cursor: pointer;
    transition: all 1s;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    outline: none;
}

.message {
    background: var(--color-text);
    color: var(--color-bg);
    padding: 1rem;
    text-align: center;
}

.frame {
    padding: 3rem 5vw;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.frame__title {
    font-size: 1rem;
    margin: 0 0 1rem;
    font-weight: normal;
}

.frame__links {
    display: inline-block;
    margin: 1rem 0;
}

.frame__info {
    display: inline-block;
    margin: 0 2rem;
    color: var(--color-info);
}

.frame a {
    text-transform: lowercase;
}

.frame a::before {
    content: '_';
}

.frame__demo--current,
.frame__demo--current:hover {
    color: var(--color-text);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 13rem);
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 53em) {
    .message {
        display: none;
    }

    .frame {
        position: fixed;
        text-align: left;
        z-index: 10000;
        top: 0;
        left: 0;
        display: grid;
        align-content: space-between;
        width: 100%;
        max-width: none;
        height: 100vh;
        padding: 3rem;
        pointer-events: none;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'title ...' '... ...' 'links demos';
    }

    .frame__title-wrap {
        grid-area: title;
        display: flex;
    }

    .frame__title {
        margin: 0;
    }

    .frame__tagline {
        position: relative;
        margin: 0 0 0 1rem;
        padding: 0 0 0 1rem;
        opacity: 0.5;
    }

    .frame__demos {
        display: flex;
        flex-direction: column;
        margin: 0;
        grid-area: demos;
        justify-self: end;
        align-self: end;
    }

    .frame__links {
        display: flex;
        flex-direction: column-reverse;
        grid-area: links;
        justify-self: start;
        align-self: end;
        margin: 0;
    }

    .frame a {
        pointer-events: auto;
        margin: 0.25rem 0 0 0;
    }

    .content {
        height: 100vh;
        justify-content: center;
    }
}
